@{
    ViewBag.Title = "Home Page";
}

    <!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-circle" src="~/Content/img/rosie.png" alt="">
                <div class="intro-text">
                    <h1 class="name">Rosie the Job Hunter</h1>
                    <hr class="star-light">
                    <span class="skills">"Women working at HP applied for a promotion only when they believed they met 100 percent of the qualifications listed for the job. Men were happy to apply when they thought they could meet 60 percent of the job requirements."</span>
                    <br /><span class="skills"><a href="https://www.forbes.com/sites/womensmedia/2014/04/28/act-now-to-shrink-the-confidence-gap/#270f8f835c41">Nancy F. Clark - Act Now To Shrink The Confidence Gap</a></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>"All three of these barriers, which together account for 78% of women’s reasons for not applying, have to do with believing that the job qualifications are real requirements, and seeing the hiring process as more by-the-book and true to the on paper guidelines than it really is."</p>
                <p><a href="https://hbr.org/2014/08/why-women-dont-apply-for-jobs-unless-theyre-100-qualified#comment-section">Tara Sophia Mohr - Harvard Buisness Review</a></p>
            </div>
            <div class="col-lg-4">
                <p>We believe that text requirements shouldn't be the barrier for women to apply to tech jobs, and we aim to mitigate that problem by providing a way for women to get the jobs they can apply to even if they don't meet all the paper "requirements."</p>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section class="success" id="hunt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Start Hunting</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Select your preferences</h2>
            @using (Html.BeginForm("GetData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.TextBox("location", "Location (Ex. New York City, NY)", new { maxlength = 50, size = 10, @class = "inputbox form-control"})<br />
                @Html.DropDownList("role", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="Software Engineer", Value = "Software Engineer" },
                    new SelectListItem{ Text="Manager", Value = "Manager" },
                    new SelectListItem{ Text="Researcher", Value = "Researcher" },
                    new SelectListItem{ Text="Program Manager", Value = "Program Manager" }
                 }, new { @class = "inputbox form-control" })
                <label for="fulltime">Fulltime? </label>@Html.CheckBox("fulltime", false, new { @class = "form-check" })<br />
                <input type="submit" value="Submit" class="submit btn" />
            }
                    <br />
                    <h2>Or Upload Your Resume</h2>

                    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div>
                            @Html.TextBox("file", "", new {  @class= "fileupload-new", @type = "file" }) <br />

                            <input type="submit" value="Upload" class="submit btn" />

                            @ViewBag.Message

                        </div>
                    }
</div>
        </div>
    </div>
</section>